@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
}
header{
    width: 75%;
    background-color: rgb(255, 255, 255);
    height: 80px;
    margin: 0px auto;
    height: 280px;
    /* position: fixed;
    left: 12.5%;
    z-index: 1; */
    
  
}
nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top-nav{
    display: flex;
    justify-content:space-between;
    margin: 10px 10px;
    padding: 1%;
}
button{
    width: 150px;
    height: 30px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
   
}
.btn{ 
    display:flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.top-nav-left{
    display: flex;
    gap: 10px;
}
.top-nav-right{
    display: flex;
    justify-content: centre;
    gap: 10px;
}
.bottom-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}
.search-box{
   display: flex;
   align-items: center;
   gap:10px;
   flex: 1;
   position: relative;
   width: 100%;
}
.search-box i {
  font-size: 18px;
  color: gray;
  position: absolute;
  left: 15px;           
  top: 50%;
  transform: translateY(-50%);
}

.search {
  height: 40px;
  width: 90%;
  border: 1px solid rgb(0, 221, 255);
  border-radius: 20px;
  font-size: 16px;
  padding: 0 15px 0 14px;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.nav-links a:hover {
  color: rgb(0, 221, 255);
}

#icon-box{
    display: flex;
    justify-content: space-evenly;
    gap:10px;
    background-color: white;
    
    align-items: center;
    margin-top: 20px;
   
}

.icons-box{
    height:60px;
    width: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
i{
    display: flex;
    justify-content: center;
    size: 20px;
    align-items: center;
    gap: 10px;
}

main {
  margin: 0 auto;
  height: 80%;
  width: 75%;
}

.ad-banner {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.ad-banner_item {
  flex: 1; /* each item participates in flex sizing */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad-banner_item img {
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

/* First two images take double space */
#bannerimg1,
#bannerimg2 {
  flex: 2 1 0;
}

/* Third image takes half the width of each of the first two */
#bannerimg3 {
  flex: 1 1 0;
}

#home-decor {
  padding: 15px;
  background-color: orangered;
  border-radius: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 2px solid blue; */
  margin-top: 30px;
}

#home-decor h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
}
.right-swipe{
    height: 20px;
    width: 40px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#home-decore-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  background-color: white;
  height: 250px;
  border-radius: 15px;
}

.home-decor-cards {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.home-decor-cards img {
  width: 210px;
  height: 160px;
  object-fit: cover;
  border-radius: 15px;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  background-color: rgb(85, 81, 81);
  border: 2px solid;
}

#grab{
  padding: 15px;
  background-color: rgb(104, 104, 227);
  border-radius: 10px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
#grab h2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: white;
}
#grab-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  background-color: white;
  height: 250px;
  border-radius: 15px;
}

.grab-cards{
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.grab-cards img{
  width: 210px;
  height: 160px;
  object-fit: cover;
  border-radius: 15px;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  background-color: rgb(85, 81, 81);
  border: 2px solid;
}

footer{
    background-color: black;
    margin-top: 300px;
}



